
<div class = "rowReview">

{{#if isAuthor}}

{{#each user.reviews}}
 <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{game.thumbnail}}" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{description}}</p>
      <a href="#" class="btn btn-primary">Details</a>
      <a href="/reviews/{{this._id}}/edit" class="btn btn-primary">Edit</a>
    </div>
    </div>

{{/each}}

{{/if}}




{{#if isNotAuthor}}

{{#each allReviews}}
 <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{game.thumbnail}}" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{description}}</p>
      <a href="#" class="btn btn-primary">Details</a>
    </div>
    </div>

{{/each}}
{{/if}}


</div>